[submodule "decomposer/BZTreewidth"]
	path = decomposer/BZTreewidth
	url = https://github.com/TomvdZanden/BZTreewidth.git
[submodule "decomposer/treewidth-exact"]
	path = decomposer/tcs-meijin
	url = https://github.com/TCS-Meiji/treewidth-exact.git
[submodule "decomposer/htd"]
	path = decomposer/htd
	url = git@github.com:mabseher/htd.git
[submodule "decomposer/Jdrasil"]
	path = decomposer/Jdrasil
	url = git@github.com:daajoe/Jdrasil.git
[submodule "decomposer/flow-cutter-pace16"]
	path = decomposer/flow-cutter-pace16
	url = https://github.com/ben-strasser/flow-cutter-pace16.git
