[submodule "decomposer/BZTreewidth"]
	path = decomposer/pace2016/BZTreewidth
	url = https://github.com/TomvdZanden/BZTreewidth.git
[submodule "decomposer/treewidth-exact"]
	path = decomposer/pace2016/tcs-meijin
	url = https://github.com/TCS-Meiji/treewidth-exact.git
[submodule "decomposer/htd"]
	path = decomposer/pace2016/htd
	url = git@github.com:mabseher/htd.git
[submodule "decomposer/flow-cutter-pace16"]
	path = decomposer/pace2016/flow-cutter-pace16
	url = https://github.com/ben-strasser/flow-cutter-pace16.git
[submodule "decomposer/jdrasil"]
	path = decomposer/pace2016/jdrasil
	url = git@github.com:daajoe/Jdrasil.git
[submodule "decomposer/td-validate"]
	path = decomposer/td-validate
	url = git@github.com:daajoe/td-validate.git
[submodule "decomposer/pace2017/htd-master"]
	path = decomposer/pace2017/htd-master
	url = git@github.com:mabseher/htd.git
