[submodule "decomposer/BZTreewidth"]
	path = decomposer/pace2016/BZTreewidth
	url = https://github.com/TomvdZanden/BZTreewidth.git
[submodule "decomposer/treewidth-exact"]
	path = decomposer/pace2016/tamaki
	url = https://github.com/TCS-Meiji/treewidth-exact.git
[submodule "decomposer/htd"]
	path = decomposer/pace2016/htd
	url = git@github.com:mabseher/htd.git
[submodule "decomposer/flow-cutter-pace16"]
	path = decomposer/pace2016/flow-cutter-pace16
	url = https://github.com/ben-strasser/flow-cutter-pace16.git
[submodule "decomposer/jdrasil"]
	path = decomposer/pace2016/Jdrasil
	url = git@github.com:daajoe/Jdrasil.git
[submodule "decomposer/td-validate"]
	path = decomposer/td-validate
	url = git@github.com:daajoe/td-validate.git
[submodule "decomposer/latest/htd"]
	path = decomposer/latest/htd
	url = git@github.com:mabseher/htd.git
[submodule "decomposer/latest/tdlib"]
	path = decomposer/latest/tdlib
	url = git@github.com:freetdi/p17.git
[submodule "decomposer/latest/minfill_mrs"]
	path = decomposer/latest/minfill_mrs
	url = git@github.com:td-mrs/minfill_mrs.git
[submodule "decomposer/latest/minfillbg_mrs"]
	path = decomposer/latest/minfillbg_mrs
	url = git@github.com:td-mrs/minfillbg_mrs.git
[submodule "decomposer/latest/tamaki"]
	path = decomposer/latest/tamaki
	url = git@github.com:daajoe/PACE2017-TrackA.git
[submodule "decomposer/latest/Flow-Cutter"]
	path = decomposer/latest/Flow-Cutter
	url = git@github.com:kit-algo/flow-cutter-pace17.git
[submodule "decomposer/latest/Jdrasil"]
	path = decomposer/latest/Jdrasil
	url = git@github.com:daajoe/Jdrasil.git
[submodule "decomposer/pace2016/mrprajesh"]
	path = decomposer/pace2016/mrprajesh
	url = https://github.com/mrprajesh/pacechallenge.git
[submodule "decomposer/pace2016/mfjones"]
	path = decomposer/pace2016/mfjones
	url = https://github.com/mfjones/pace2016.git
[submodule "decomposer/pace2016/elithelli"]
	path = decomposer/pace2016/elithelli
	url = https://github.com/elitheeli/2016-pace-challenge.git
